.container {
    background: #202020;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    width: 17.6px;
    height: 17.6px;
    transform: rotate(45deg);
    top: 3px;
    right: -8.8px;
    background: linear-gradient(45deg, transparent 13px, #202020 13px);
    border-right: 1px solid #eabd70;
    border-top: 1px solid #eabd70;
}

.container::after {
    content: '';
    position: absolute;
    width: 17.6px;
    height: 17.6px;
    transform: rotate(45deg);
    top: 3px;
    left: -8.8px;
    background: linear-gradient(45deg, #202020 13px, transparent 13px);
    border-bottom: 1px solid #eabd70;
    border-left: 1px solid #eabd70;
}